<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/9de7ded6-0ad3-43e6-87b8-17d93e3ff695/resourceGroups/cawatest401pm_webappdb/providers/Microsoft.Web/sites/cawatestwebapp401</ResourceId>
    <ResourceGroup>cawatest401pm_webappdb</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://cawatestwebapp401.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c9ceb1cd-8924-4324-8dd9-115aa7eaa84a</ProjectGuid>
    <PublishUrl>https://cawatestwebapp401.scm.azurewebsites.net/</PublishUrl>
    <UserName>$cawatestwebapp401</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>